/android-toolchain-eabi/
/kbuild-*/
/massbuild-*.log
/devhostauth.sh
/out/
/installer/boot.img
/installer/system/lib/modules/*.ko
/installer/META-INF/com/google/android/updater-script
/uninstaller/META-INF/com/google/android/updater-script
