/android-toolchain-eabi/
/gcc-trunk/
/kbuild-*/
/build-*.log
/devhostauth.sh
/out/
/installer/rd/zImage
/installer/system/lib/modules/*.ko
/installer/META-INF/com/google/android/updater-script
/uninstaller/META-INF/com/google/android/updater-script
